<html>
  <head>
  <title>Chromium Perf Tracker</title>
  <link rel="stylesheet" href="styles/style.css">
  <script src="scripts/util.js"></script>
  <script src="jst/util.js" type="text/javascript"></script>
  <script src="jst/jsevalcontext.js" type="text/javascript"></script>
  <script src="jst/jstemplate.js" type="text/javascript"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  </head>

  <body onLoad="main()">
    <h1><div id="header">Chromium Page Tracker TestSets</div></h1>

    <script>
    data = {}

    function loadFilters() {
      // Fetch data for the filters.
      var filter_data_url = "/json?type=filters";
      new XHRGet(filter_data_url, function(result) {
        data.filters = JSON.parse(result);
        var context = JsEvalContext.create(data.filters);
        var template = document.getElementById("filters_template");
        jstProcess(context, template);
        JsEvalContext.recycle(context);
      });
    }

    // Utility function to grab the value of a select element.
    function selectValue(id) {
      var elt = document.getElementById(id);
      return elt[elt.selectedIndex];
    }

    // Given the current set of filters, construct the URL appropriately.
    function applyFilterToUrl(url, name) {
      var selected_value = selectValue(name)
      if (selected_value != undefined) {
        var val = selectValue(name).value;
        if (val != undefined && val.length > 0) {
          url += "&" + name + "=" + val;
        }
      }
      return url;
    }

    function loadData() {
      var url = "/json?type=set_search";
      url = applyFilterToUrl(url, "version_filter");
      url = applyFilterToUrl(url, "networks_filter");

      new XHRGet(url, function(result) {
        data.results = JSON.parse(result);
        var context = JsEvalContext.create(data);
        var template = document.getElementById("data_template");
        jstProcess(context, template);
        drawChart(data.results);
        JsEvalContext.recycle(context);
      });
    }

    google.load('visualization', '1', {'packages':['annotatedtimeline']});

    function drawChart(results) {
      var graph_data = new google.visualization.DataTable();
      graph_data.addColumn('date', 'Date');
      graph_data.addColumn('number', 'PLT');
      graph_data.addColumn('number', 'First Paint');

      for (var i = 0; i < results.length; ++i) {
        graph_data.addRow([new Date(results[i].date),
                          results[i].total_time,
                          results[i].paint_time, ]);
      }

      var chart_div = document.getElementById('chart_div');
      if (graph_data.getNumberOfRows()) {
        var chart = new google.visualization.AnnotatedTimeLine(chart_div);
        chart.draw(graph_data, {displayAnnotations: true});
      } else {
        chart_div.innerHTML = "No data";
      }
    }

    function filterChanged() {
      loadData();
    }

    function main() {
      loadData();
      loadFilters();
    }

    </script>

    <div id="filters_template">
      <div id="filter" style="border:1px solid black">
      Filters:
      <table class="sortable">
        <tr>
          <td>Version</td>
          <td>Network</td>
        </tr>
        <tr>
        <td>
          <select id="version_filter" onchange="filterChanged()">
            <option selected></option>
            <option jsselect="versions" jscontent="$this"></option>
          </select>
        </td>
        <td><select id="networks_filter" onchange="filterChanged()">
            <option selected></option>
            <option jsselect="networks" jscontent="$this"></option>
          </select>
        </td>
        </tr>
        </table>
      </div>
    </div>

    <div id='chart_div' style='width: 700px; height: 240px;'></div>

    <div id="data_template">
      <table class="sortable">
      <tr>
        <th>Date</th>
        <th>Network</th>
        <th>URLs</th>
        <th>Iterations</th>
        <th>Start</th>
        <th>Commit</th>
        <th>Doc</th>
        <th>Paint</th>
        <th>PLT</th>
      </tr>
        <tr jsselect="results">
        <td><span jseval="$val = '/do_view_set?id=' + key"></span><a jsvalues="href:$val" jscontent="date"></a></td>
        <td jscontent="network_type"></td>
        <td class="righttext" jscontent="url_count"></td>
        <td class="righttext" jscontent="iterations"></td>
        <td class="righttext" jscontent="start_load_time"></td>
        <td class="righttext" jscontent="commit_load_time"></td>
        <td class="righttext" jscontent="doc_load_time"></td>
        <td class="righttext" jscontent="paint_time"></td>
        <td class="righttext" jscontent="total_time"></td>
      </table>
    </div>
  </body>
</html>
