<html>
  <head>
  <title>Chromium Perf Tracker</title>
  <link rel="stylesheet" href="styles/style.css">
  <script src="scripts/util.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <!--script type="text/javascript" src="http://api.timepedia.com/gviz"></script>
-->
  </head>

  <body onLoad="main()">
    <h1><div id="header">Effect of RTT on PLT</div></h1>

    <script>
    google.load('visualization', '1', {'packages':['annotatedtimeline']});

    function drawRTTGraph(div_name, title, network_types) {
      var data = [];
      var data_sets_to_load = network_types.length;

      var drawChart = function(results) {
        var graph_data = new google.visualization.DataTable();
        graph_data.addColumn('date', 'Date');
        for (var i = 0; i < results.length; i++) {
          graph_data.addColumn('number', results[i].name);
        }

        for (var i = 0; i < results.length; ++i) {
          var line = results[i];
          if (line != undefined) {
            for (var j = 0; j < line.results.length; j++) {
               var row = new Array(1 + results.length);
               row[0] = new Date(line.results[j].date);
               row[1 + i] = line.results[j].total_time;
               graph_data.addRow(row);
            }
          }
        }

        var chart_div = document.getElementById(div_name);
        if (graph_data.getNumberOfRows()) {
          //var chart = new google.visualization.AnnotatedTimeLine(chart_div);
          var chart = new google.visualization.AnnotatedTimeLine(chart_div);
          chart.draw(graph_data, {displayAnnotations: true,
                                  allValuesSuffix: "ms",
                                  legendPosition: "newRow",
                                 });
        } else {
          chart_div.innerHTML = "No data";
        }
      }

      for (var index = 0; index < data_sets_to_load; ++index) {
        var network = network_types[index];
        var url = "/json?type=set_search&networks_filter=" + network;

        new XHRGet(url, function(result, index) {
          var obj = {};
          obj.name = network_types[index].split('/')[2];
          obj.results = JSON.parse(result);
          data.push(obj);
          data_sets_to_load--;
          if (data_sets_to_load == 0) {
            drawChart(data);
          }
        }, index);
      }
    }

    function main() {
      var RTTs = [0,40,80,100,120,160,200];

      var divs = document.getElementsByName("chart");
      for (var chart_id = 0; chart_id < divs.length; ++chart_id) {
        var chart_type = divs[chart_id].id;
        var lines = [];
        for (var index = 0; index < RTTs.length; ++index) {
          lines.push(chart_type.replace("XXX", RTTs[index]));
        }
        drawRTTGraph(chart_type, "2.0Mbps/400Kbps/0.0%", lines);
      }
    }

    </script>
    DSL Network (2Mbps/400Kbps/0% loss):
    <div id='2.0Mbps/400Kbps/XXXms/0.0%' name="chart" style='width: 1200px; height: 440px;'></div>
    Cable Network (5Mbps/1000Kbps/0% loss):
    <div id='5.0Mbps/1000Kbps/XXXms/0.0%' name="chart" style='width: 1200px; height: 440px;'></div>
    Fast Network (10Mbps/10Mbps/0% loss):
    <div id='10.0Mbps/10.0Mbps/XXXms/0.0%' name="chart" style='width: 1200px; height: 440px;'></div>
  </body>
</html>
